<section>
  <div class="wrap">
    <h2 class="title-section">Авторизація</h2>
    <div class="form-wrapper">

      <form class="form" action="/auth/login" method="POST">
        <input type="hidden" name="_csrf" value="{{ @root.csrf }}" />
        <input name="email" id="email" type="email" placeholder="Електронна пошта" value="{{ data.email }}" required>
        <input name="password" id="password" type="password" placeholder="Пароль" value="{{ data.password }}" required>
        <button type="submit" class="button buy">
          <div class="transition-06 button-content">
            Авторизуватися
          </div>
        </button>
      </form>

      <div class="auth-redirect reset">
        <a href="/auth/reset" class="auth-link transition">
          Забули пароль?
        </a>
      </div>

      <div class="auth-redirect">
        <div>Це ваш перший візит?</div>
        <a href="/auth/register" class="auth-link transition">
          Створіть обліковий запис.
        </a>
      </div>
    </div>
  </div>
</section>

{{#if loginError}}
<div class="notify error">
  <p>{{ loginError }}</p>
</div>
{{/if}}
