<section id="auth">
  <div class="wrap">
    <h2 class="title-section">Реєстрація</h2>
    <div class="form-wrapper">

      <form class="form" action="/auth/register" method="POST">
        <input name="email" id="email" type="email" placeholder="Електронна пошта" required>
        <input name="password" id="password" type="password" placeholder="Пароль" required>
        <input name="confirm" id="confirm" type="password" placeholder="Повтор пароля" required>
        <button type="submit" class="button buy">
          <div class="transition-06 button-content">
            Зареєструватися
          </div>
        </button>
      </form>

      <div class="auth-redirect">
        <div>Вже маєте обліковий запис?</div>
        <a href="/auth/login" class="auth-link transition">
          Авторизируйтесь.
        </a>
      </div>
    </div>
  </div>
</section>