<section>
  <div class="wrap">
    <h2 class="title-section">Забули пароль?</h2>
    <div class="form-wrapper">
      <form class="form" action="/auth/reset" method="POST">
        <input type="hidden" name="_csrf" value="{{ @root.csrf }}" />
        <input name="email" id="email" type="email" value="{{ data.email }}" placeholder="Електронна пошта" required>
        <button type="submit" class="button buy">
          <div class="transition-06 button-content">
            Відновити пароль
          </div>
        </button>
      </form>
    </div>
  </div>
</section>

{{#if resetError}}
<div class="notify error">
  <p>{{ resetError }}</p>
</div>
{{/if}}
