<section id="contacts">
  <div class="wrap">
    <h2 class="title-section">Написати нам</h2>
    <form id="contact-form">
      <div class="wrapp-feedback">
        <!-- Hidden Required Fields -->
        <input type="hidden" name="project_name" value="Oorun Studio">
        <input type="hidden" name="admin_email" value="oorun84@gmail.com">
        <input type="hidden" name="form_subject" value="Замовлення з сайту oorun">
        <!-- END Hidden Required Fields -->
        <input type="text" name="name" placeholder="Ім'я" required="">
        <input type="email" name="email" value="" placeholder="Email" required="">
        <textarea name="message" placeholder="Повідомлення" required=""></textarea>
        <div class="buttons-wrapper">
          <div class="button send">
            <button class="transition button-content" type="submit">
              Надіслати
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="contacts-info">
    <div class="wrap">
      <ul class="transition-06">
        <li class="header-instagram">
          <a class="transition" href="https://www.instagram.com/oorun_art" target="_blank">
            <svg class="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="30px" width="30px">
              <path
                d="M16 3C8.832 3 3 8.832 3 16v18c0 7.168 5.832 13 13 13h18c7.168 0 13-5.832 13-13V16c0-7.168-5.832-13-13-13H16zm0 2h18c6.086 0 11 4.914 11 11v18c0 6.086-4.914 11-11 11H16C9.914 45 5 40.086 5 34V16C5 9.914 9.914 5 16 5zm21 6a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-12 3c-6.063 0-11 4.937-11 11s4.937 11 11 11 11-4.937 11-11-4.937-11-11-11zm0 2c4.982 0 9 4.018 9 9s-4.018 9-9 9-9-4.018-9-9 4.018-9 9-9z"
                font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible" />
            </svg>
          </a>
        </li>
        <li class="header-info-tel">
          <a class="transition" href="tel:+380637011056">
            <span class="transition">+38 (063) 701-10-56</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<div id="notify">
  <div id="close-notify" class="close"></div>
  <p>Дякуємо, що написали нам. Ваше повідомлення отримано і найближчим часом ми зв'яжемося з Вами.</p>
</div>