<div class="header-slider">
    <div class="header-slider-info">
        <img src="images/banner-2.png" class="banner big" alt="OORUN - Декор ручної роботи з бетону"
            title="Кашпо та горщики з бетону" />
        <img src="images/banner-mini.png" class="banner mini" alt="OORUN - Декор ручної роботи з бетону"
            title="Кашпо та горщики з бетону" />
    </div>
    <img src="images/logo-banner.svg" class="logo-banner" />
</div>
<section id="about">
    <div class="wrap">
        <h2 class="title-section">Про нас</h2>
        <p>Кожен чув фразу: "Ми те, що ми їмо". Але я б сказав по-іншому: "Ми те, що нас оточує".
            Адже все, що навколо, неминуче впливає на нас, формуючи наш характер і образ думок. Тому важливо
            оточувати себе
            тільки тим, що радує душу: хорошими людьми та красивими речами. З першим навряд чи хтось допоможе,
            крім Вас
            самих, а от деякі цікаві речі для Вашого інтер'єру - з цим я спробую дати раду!</p>
        <p>Як все починалось?</p>
        <p>Переїхавши в нову квартиру, у мене з'явилася необхідність
            наповнити порожній простір предметами декору. Тоді виникла ідея зробити частину з них своїми руками.
            Адже тільки я сам розумів, чого мені хотілося і тільки так я міг отримати те, чого ні в кого не
            було.
            До того ж, у мене завжди була потреба створення чогось руками і це приносило
            мені щастя. Так все і почалося.</p>
        <p>Пошук відповідного матеріалу зайняв тривалий час. Після різних експериментів
            ним виявився бетон. Мені сподобалася його фактура і індивідуальні властивості. Адже на кінцевий
            результат впливає
            багато: вода, температура, колір піску та цементу, в яких умовах виріб "зріє". Все це вносить свою
            неповторність
            в предмети з бетону.</p>
        <p>А потім друзі і знайомі теж захотіли наповнити свій будинок зробленими мною речами.
            А зараз я пропоную і Вам познайомитися з ними. І, можливо, у якихось з'явиться новий дім.</p>
    </div>
</section>
<section id="products" class="top-products">
    <div class="products-list">

        {{#if topProducts.length}}
            <h2 class="title-section">топ продажів</h2>
            {{#each topProducts}}
                {{> product-preview}}
            {{/each}}
        {{/if}}

    </div>
    <div class="buttons-wrapper all-products-wraper">
        <div class="all-products">
            <a href="/products" class="button">
                <div class="transition button-content">
                    Переглянути всі наші вироби
                </div>
            </a>
        </div>
    </div>
</section>
