<section id="products">
  <div class="products-list">

    {{#if lamps.length}}
      <h2 class="title-section">світильники</h2>
      {{#each lamps}}
        {{> product-card}}
      {{/each}}
    {{/if}}

    {{#if pots.length}}
      <h2 class="title-section">кашпо для рослин</h2>
      {{#each pots}}
        {{> product-card}}
      {{/each}}
    {{/if}}

    {{#if candles.length}}
      <h2 class="title-section">свічки</h2>
      {{#each candles}}
        {{> product-card}}
      {{/each}}
    {{/if}}

  </div>
</section>