<section id="products">
  <div class="products-list">

    <h2 class="title-section">світильники</h2>

    <div id="products-001" class="products-item">
      <div class="products-wrapper">
        <div class="img">
          <img class="product-img" src="images/products/product_1/lamp-4.png" alt="Світильник з бетону Горила"
            title="Світильник з бетону Горила" />
        </div>
        <div class="info">
          <h4>Світильник з бетону "Горила"</h4>
          <p class="price">900 <span>UAH</span></p>
          <div class="buttons-wrapper">
            <a href="#contacts" class="button buy">
              <div class="transition button-content">
                купити
              </div>
            </a>
            <div data-id="products-001" class="button show-product">
              <div class="transition button-content">
                детальніше
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail">
        <div class="products-item">
          <div class="img">
            <div class="img-product">
              <img src="images/products/product_1/lamp-1.png" alt="Настільна лампа з бетону Горила"
                title="Світильник з бетону Горила" class="transition" />
            </div>
            <div class="img-list">
              <div class="img-item active transition">
                <div class="item-wrap">
                  <img src='images/products/product_1/lamp-1.png' alt="Світильник з бетону Горила"
                    title="Світильник з бетону Горила" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_1/lamp-2.png' alt="Настільна лампа з бетону Мавпа"
                    title="Настільна лампа з бетону Горила" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_1/lamp-3.png' alt="Світильник з бетону Мавпа"
                    title="Бетонний світильник Мавпа" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_1/lamp-4.png' alt="Бетонний світильник Мавпа"
                    title="Настільна лампа з бетону Горила" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_1/lamp-5.png' alt="Світильник з бетону Мавпа"
                    title="Настільна лампа з бетону Горила" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_1/lamp-6.png' alt="Бетонний світильник Мавпа"
                    title="Світильник з бетону Горила" />
                </div>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="product-name">
              Світильник з бетону "Горила"
            </div>
            <div class="price">900 <span>UAH</span></div>
            <div class="text">
              <p>
                Світильник з бетону "Горила" зроблен в loft стилі з
                ретро виделкою, кабелем у бавовняної обмотці та лампою Едісона медового кольору.
                Настільна лампа виготовлена за авторською формою, тому зможе стати цікавим
                подарунком для себе
                або близьких людей, які цінують незвичайність і неповторність речей.
              </p>
              <p>
                Світильник добре впишеться в сучасний мінімалізм, арт-деко або індустріальний
                стиль простору. Зможе стати корисним елементом декору для поціновувачів
                тваринних мотивів в
                інтер'єрі.
              </p>
              <p>
                Настільна лампа "Горила" доступна в декількох кольорах. Виготовлена з бетону, що
                був армований мікроволокном для додання додаткової міцності.
              </p>
              <p>
                У комплект входять кабель довжиною близько 220 см, ретро лампа Едісона (40 Вт,
                патрон Е27).
                З заднього боку світильник має тумблер-перемикач. Характеристики лампи можуть
                трохи відрізнятися від фото.
              </p>
            </div>
            <div class="property">
              <span class="label">Кольори:</span>
              <span class="color black"></span>
              <span class="color gray"></span>
              <span class="color white"></span>
            </div>
            <div class="property">
              <span class="label">Розмір без лампи (д/ш/в), см:</span>19 / 13 / 14
            </div>
            <div class="property">
              <span class="label">Вага:</span> близько 3 кг.
            </div>
            <div class="buttons-wrapper">
              <a href="#contacts" class="button buy">
                <div class="transition button-content">
                  купити
                </div>
              </a>
              <div data-id="products-001" class="button close-product">
                <div class="transition button-content">
                  згорнути
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title-section">кашпо для рослин</h2>

    <div id="products-002" class="products-item">
      <div class="products-wrapper">
        <div class="img">
          <img class="product-img" src="images/products/product_2/cat-4.png"
            alt="Бетонне кашпо, горщик з бетону Кішка сфінкс" title="Кашпо, горщик з бетону Кішка сфінкс" />
        </div>
        <div class="info">
          <h4>Кашпо з бетону "Кішка сфінкс"</h4>
          <p class="price">550 <span>UAH</span></p>
          <div class="buttons-wrapper">
            <a href="#contacts" class="button buy">
              <div class="transition button-content">
                купити
              </div>
            </a>
            <div data-id="products-002" class="button show-product">
              <div class="transition button-content">
                детальніше
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail">
        <div class="products-item">
          <div class="img">
            <div class="img-product">
              <img src="images/products/product_2/cat-1.png" alt="Бетонне кашпо, горщик з бетону Кішка сфінкс"
                title="Кашпо, горщик з бетону Кішка сфінкс" class="transition" />
            </div>
            <div class="img-list">
              <div class="img-item active transition">
                <div class="item-wrap">
                  <img src='images/products/product_2/cat-1.png' alt="Бетонний горщик, кашпо з бетону Кішка сфінкс"
                    title="Бетонний горщик, кашпо з бетону Кішка сфінкс" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_2/cat-2.png' alt="Бетонний горщик, кашпо з бетону Кішка сфінкс"
                    title="Бетонний горщик, кашпо з бетону Кішка сфінкс" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_2/cat-3.png' alt="Бетонне кашпо, горщик з бетону Кішка сфінкс"
                    title="Кашпо, горщик з бетону Кішка сфінкс" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_2/cat-4.png' alt="Бетонний горщик, кашпо з бетону Кішка сфінкс"
                    title="Бетонний горщик, кашпо з бетону Кішка сфінкс" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_2/cat-5.png' alt="Бетонне кашпо, горщик з бетону Кішка сфінкс"
                    title="Кашпо, горщик з бетону Кішка сфінкс" />
                </div>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="product-name">
              Кашпо з бетону "Кішка сфінкс"
            </div>
            <div class="price">550 <span>UAH</span></div>
            <div class="text">
              <p>
                Кашпо з бетону "Кішка сфінкс" для невеликих кімнатних рослин. Ідеально підійде
                для сукулентів.
                Горщик виготовлений за авторською формою, тому зможе стати цікавим подарунком
                для себе
                або близьких людей, які цінують незвичайність і неповторність речей.
              </p>
              <p>
                Кашпо добре впишеться в сучасний мінімалізм, арт-деко або індустріальний стиль
                простору.
                Зможе стати корисним елементом декору для поціновувачів тваринних мотивів в
                інтер'єрі.
              </p>
              <p>
                Горщик для квітів "Кішка сфінкс" доступний в декількох кольорах. Виготовлений з
                бетону, що був армований
                мікроволокном для додання додаткової міцності. Кашпо покрито засобом для захисту
                від вологи і пилу.
              </p>
              <p>
                Продається без рослини. Характеристики горщика з бетону "Кішка сфінкс" можуть
                трохи відрізнятися від фото.
              </p>
            </div>
            <div class="property">
              <span class="label">Кольори:</span>
              <span class="color black"></span>
              <span class="color gray"></span>
              <span class="color white"></span>
            </div>
            <div class="property">
              <span class="label">Розмір (д/ш/в), см:</span>15,5 / 18 / 16
            </div>
            <div class="property">
              <span class="label">Вага:</span> близько 2,3 кг.
            </div>
            <div class="buttons-wrapper">
              <a href="#contacts" class="button buy">
                <div class="transition button-content">
                  купити
                </div>
              </a>
              <div data-id="products-002" class="button close-product">
                <div class="transition button-content">
                  згорнути
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="products-003" class="products-item">
      <div class="products-wrapper">
        <div class="img">
          <img class="product-img" src="images/products/product_3/gorilla-2.png"
            alt="Бетонне кашпо, горщик з бетону Горила" title="Кашпо, горщик з бетону Горила" class="transition" />
        </div>
        <div class="info">
          <h4>Кашпо з бетону "Горила"</h4>
          <p class="price">550 <span>UAH</span></p>
          <div class="buttons-wrapper">
            <a href="#contacts" class="button buy">
              <div class="transition button-content">
                купити
              </div>
            </a>
            <div data-id="products-003" class="button show-product">
              <div class="transition button-content">
                детальніше
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail">
        <div class="products-item">
          <div class="img">
            <div class="img-product">
              <img src="images/products/product_3/gorilla-1.png" class="transition"
                alt="Бетонне кашпо, горщик з бетону Горила" title="Кашпо, горщик з бетону Горила" class="transition" />
            </div>
            <div class="img-list">
              <div class="img-item active transition">
                <div class="item-wrap">
                  <img src='images/products/product_3/gorilla-1.png' alt="Бетонний горщик, кашпо з бетону Горила"
                    title="Бетонний горщик, кашпо з бетону Горила" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_3/gorilla-2.png' alt="Бетонне кашпо, горщик з бетону Горила"
                    title="Кашпо, горщик з бетону Горила" class="transition" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_3/gorilla-3.png' alt="Бетонний горщик, кашпо з бетону Горила"
                    title="Бетонний горщик, кашпо з бетону Горила" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_3/gorilla-4.png' alt="Бетонне кашпо, горщик з бетону Горила"
                    title="Кашпо, горщик з бетону Горила" class="transition" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_3/gorilla-5.png' alt="Бетонний горщик, кашпо з бетону Горила"
                    title="Бетонний горщик, кашпо з бетону Горила" />
                </div>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="product-name">
              Кашпо з бетону "Горила"
            </div>
            <div class="price">550 <span>UAH</span></div>
            <div class="text">
              <p>
                Кашпо з бетону "Горила" для невеликих кімнатних рослин. Ідеально підійде для
                сукулентів.
                Горщик виготовлений за авторською формою, тому зможе стати цікавим подарунком
                для себе
                або близьких людей, які цінують незвичайність і неповторність речей.
              </p>
              <p>
                Кашпо добре впишеться в сучасний мінімалізм, арт-деко або індустріальний стиль
                простору. Зможе стати корисним елементом декору для поціновувачів тваринних
                мотивів в
                інтер'єрі.
              </p>
              <p>
                Горщик для квітів "Горила" доступний в декількох кольорах. Виготовлений з
                бетону, що був армований
                мікроволокном для додання додаткової міцності. Кашпо покрито засобом для захисту
                від вологи і пилу.
              </p>
              <p>
                Продається без рослини. Характеристики горщика з бетону "Горила" можуть
                трохи відрізнятися від фото.
              </p>
            </div>
            <div class="property">
              <span class="label">Кольори:</span>
              <span class="color black"></span>
              <span class="color gray"></span>
              <span class="color white"></span>
            </div>
            <div class="property">
              <span class="label">Розмір (д/ш/в), см:</span>19 / 13 / 14
            </div>
            <div class="property">
              <span class="label">Вага:</span> близько 2,8 кг.
            </div>
            <div class="buttons-wrapper">
              <a href="#contacts" class="button buy">
                <div class="transition button-content">
                  купити
                </div>
              </a>
              <div data-id="products-003" class="button close-product">
                <div class="transition button-content">
                  згорнути
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="products-004" class="products-item">
      <div class="products-wrapper">
        <div class="img">
          <img class="product-img" src="images/products/product_4/polygonal-5.png"
            alt="Бетонний горщик, кашпо з бетону Полігональне" title="Бетонний горщик, кашпо з бетону Полігональне" />
        </div>
        <div class="info">
          <h4>Кашпо з бетону "Полігональне"</h4>
          <p class="price">550 <span>UAH</span></p>
          <div class="buttons-wrapper">
            <a href="#contacts" class="button buy">
              <div class="transition button-content">
                купити
              </div>
            </a>
            <div data-id="products-004" class="button show-product">
              <div class="transition button-content">
                детальніше
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail">
        <div class="products-item">
          <div class="img">
            <div class="img-product">
              <img src="images/products/product_4/polygonal-1.png" class="transition"
                alt="Бетонний горщик, кашпо з бетону Полігональне"
                title="Бетонний горщик, кашпо з бетону Полігональне" />
            </div>
            <div class="img-list">
              <div class="img-item active transition">
                <div class="item-wrap">
                  <img src='images/products/product_4/polygonal-1.png'
                    alt="Бетонний горщик, кашпо з бетону Полігональне"
                    title="Бетонний горщик, кашпо з бетону Полігональне" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_4/polygonal-2.png'
                    alt="Бетонний горщик, кашпо з бетону Полігональне"
                    title="Бетонний горщик, кашпо з бетону Полігональне" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_4/polygonal-3.png'
                    alt="Бетонний горщик, кашпо з бетону Полігональне"
                    title="Бетонний горщик, кашпо з бетону Полігональне" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_4/polygonal-4.png'
                    alt="Бетонний горщик, кашпо з бетону Полігональне"
                    title="Бетонний горщик, кашпо з бетону Полігональне" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_4/polygonal-5.png'
                    alt="Бетонний горщик, кашпо з бетону Полігональне"
                    title="Бетонний горщик, кашпо з бетону Полігональне" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products/product_4/polygonal-6.png'
                    alt="Бетонний горщик, кашпо з бетону Полігональне"
                    title="Бетонний горщик, кашпо з бетону Полігональне" />
                </div>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="product-name">
              Кашпо з бетону "Полігональне"
            </div>
            <div class="price">550 <span>UAH</span></div>
            <div class="text">
              <p>
                Кашпо з бетону "Полігональне" для невеликих кімнатних рослин. Ідеально підійде
                для сукулентів.
                Під різними кутами огляду горщик з бетону змінює свою форму.
              </p>
              <p>
                Кашпо добре впишеться в сучасний мінімалізм, арт-деко або індустріальний стиль
                простору. Зможе стати корисним елементом декору для поціновувачів loft стилю в
                інтер'єрі.
              </p>
              <p>
                Горщик для квітів "Полігональне" доступний в декількох кольорах. Виготовлений з
                бетону, що був армований
                мікроволокном для додання додаткової міцності. Кашпо покрито засобом для захисту
                від вологи і пилу.
              </p>
              <p>
                Продається без рослини. Характеристики горщика з бетону "Полігональне" можуть
                трохи відрізнятися від фото.
              </p>
            </div>
            <div class="property">
              <span class="label">Кольори:</span>
              <span class="color black"></span>
              <span class="color gray"></span>
              <span class="color white"></span>
            </div>
            <div class="property">
              <span class="label">Розмір (д/ш/в), см:</span>12 / 12 / 8
            </div>
            <div class="property">
              <span class="label">Вага:</span> близько 2,8 кг.
            </div>
            <div class="buttons-wrapper">
              <a href="#contacts" class="button buy">
                <div class="transition button-content">
                  купити
                </div>
              </a>
              <div data-id="products-004" class="button close-product">
                <div class="transition button-content">
                  згорнути
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title-section">свічки</h2>

    <div id="products-005" class="products-item">
      <div class="products-wrapper">
        <div class="img">
          <img class="product-img" src="images/products//product_5/cat-4.png" alt="Свічка, свічник з бетону"
            title="Свічник з бетону, свічка з бетону" />
        </div>
        <div class="info">
          <h4>Свічка "Кішка з пірсингом"</h4>
          <p class="price">600 <span>UAH</span></p>
          <div class="buttons-wrapper">
            <a href="#contacts" class="button buy">
              <div class="transition button-content">
                купити
              </div>
            </a>
            <div data-id="products-005" class="button show-product">
              <div class="transition button-content">
                детальніше
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail">
        <div class="products-item">
          <div class="img">
            <div class="img-product">
              <img src="images/products//product_5/cat-1.png" class="transition" alt="Свічка, свічник з бетону"
                title="Свічник з бетону, свічка з бетону" />
            </div>
            <div class="img-list">
              <div class="img-item active transition">
                <div class="item-wrap">
                  <img src='images/products//product_5/cat-1.png' alt="Свічка, свічник з бетону"
                    title="Свічник з бетону, свічка з бетону" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products//product_5/cat-2.png' alt="Свічка, свічник з бетону"
                    title="Свічник з бетону, свічка з бетону" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products//product_5/cat-3.png' alt="Свічка, свічник з бетону"
                    title="Свічник з бетону, свічка з бетону" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products//product_5/cat-4.png' alt="Свічка, свічник з бетону"
                    title="Свічник з бетону, свічка з бетону" />
                </div>
              </div>
              <div class="img-item transition">
                <div class="item-wrap">
                  <img src='images/products//product_5/cat-5.png' alt="Свічка, свічник з бетону"
                    title="Свічник з бетону, свічка з бетону" />
                </div>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="product-name">
              Свічка "Кішка з пірсингом"
            </div>
            <div class="price">600 <span>UAH</span></div>
            <div class="text">
              <p>
                Свічка "Кішка з пірсингом" виготовлена за авторською формою, тому зможе стати
                цікавим подарунком для себе
                або близьких людей, які цінують незвичайність і неповторність речей. Після
                вигоряння свічки, її легко можна замінити на нову.
              </p>
              <p>
                Свічка добре впишеться в сучасний мінімалізм, арт-деко або індустріальний стиль
                простору.
                Зможе стати корисним елементом декору для поціновувачів тваринних мотивів в
                інтер'єрі.
              </p>
              <p>
                Свічка "Кішка з пірсингом" доступна в декількох кольорах. Свічник виготовлений з
                бетону, що був армований
                мікроволокном для додання додаткової міцності.
                Можливі кілька варіантів ненав'язливого аромату свічки (сандал, бавовна, зелений
                чай, мускатна лаванда, сосна, ваніль).
              </p>
              <p>
                Характеристики cвічки "Кішка з пірсингом" можуть трохи відрізнятися від фото.
              </p>
            </div>
            <div class="property">
              <span class="label">Кольори:</span>
              <span class="color black"></span>
              <span class="color gray"></span>
              <span class="color white"></span>
            </div>
            <div class="property">
              <span class="label">Розмір (д/ш/в), см:</span>15,5 / 18 / 16
            </div>
            <div class="property">
              <span class="label">Вага:</span> близько 2,8 кг.
            </div>
            <div class="buttons-wrapper">
              <a href="#contacts" class="button buy">
                <div class="transition button-content">
                  купити
                </div>
              </a>
              <div data-id="products-005" class="button close-product">
                <div class="transition button-content">
                  згорнути
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>