<section id="reviews">
  <div class="wrap">
    <h2 class="title-section">Оплата та доставка</h2>
    <div class="reviews-item">
      <div class="title">Доставка "Нова Пошта"</div>
      <p>Доставка оплачується Вами при отриманні замовлення відповідно до тарифів Нової Пошти.
        Вартість доставки від 50 грн. Можлива відправка з післяплатою (за умови передоплати 100 грн.
        на карту). Термін доставки 1-3 робочі дні.
      </p>
    </div>
    <div class="reviews-item">
      <div class="title">Доставка "Укрпошта" (за умови 100% передоплати)</div>
      <p>Доставка оплачується Вами при отриманні замовлення відповідно до тарифів Укрпошти.
        Доставка здійснюється тільки при 100% передоплаті на карту.
        Термін доставки 3-7 робочих днів.</p>
    </div>
    <div class="reviews-item">
      <div class="title">Оплата</div>
      <ul>
        <li>
          <p>Оплата на банківську карту.</p>
        </li>
        <li>
          <p>Післяплата "Нова Пошта" (з передоплатою 100 грн.).</p>
        </li>
      </ul>
    </div>
    <div class="reviews-item">
      <div class="title">Знижка</div>
      <p>При замовленні на суму від 1500 грн. знижка 10%.</p>
    </div>
  </div>
</section>